@keyframes moveInRight{
    0%{transform: translateX(0.5rem);}
    100%{transform: translateX(-0.5rem);}
}
@keyframes moveInLeft{
    0%{transform: translateX(0rem);}
    100%{transform: translateX(0.8rem);}
}

@keyframes moveInTop{
    0%{opacity: 0; transform: translateY(-10rem);}
    80%{transform: translateY(1rem);}
    100%{opacity: 1; transform: translateY(0rem);}
}

@keyframes displayQuoteBackground{
    0%{background-image:linear-gradient(rgba($white,0.01), rgba($white,0.2)),
        url("../../assets/randomQuoteCard-BG-0.jpg");}
    50%{background-image:linear-gradient(rgba($white,0.01), rgba($white,0.2)),
        url("../../assets/randomQuoteCard-BG-1.jpg");}
    100%{background-image:linear-gradient(rgba($white,0.01), rgba($white,0.2)),
        url("../../assets/randomQuoteCard-BG-2.jpg");}
}

