*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
   
    font-size: 62.5%; 
    
    @include respond(phone-l) { 
        font-size: 68.75%; 
    }
    @include respond(tab-port) { 
        font-size: 75%; 
    }
    @include respond(tab-land) { 
        font-size: 81.125%; 
    }
    @include respond(desktop) {
        font-size: 87.5%;
    }
}

#root{
	box-sizing: border-box;
	padding: 0;
    padding-top: 3.5rem;
    background-color: $lightlyOffWhite;
}
