*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    @include respond(phone-l) { // width > 480?
        font-size: 68.75%; //1 rem = 11px
    }
    @include respond(tab-port) { // width > 600?
        font-size: 75%; //1 rem = 12px
    }
    @include respond(tab-land) { // width > 800?
        font-size: 81.125%; //1 rem = 13px,
    }
    @include respond(desktop) {// width > 1200?
        font-size: 87.5%; //1rem = 14, 12/16
    }
}

#root{
	box-sizing: border-box;
	padding: 0;
    padding-top: 3.5rem;
    background-color: $lightlyOffWhite;
}
