.mainContainer{
    display: flex;
    
    &__landingPage{
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    &__homePage{
        flex-wrap: wrap;
        margin: 2rem auto;
        width: 90%;
        @include respond(phone-l) {
            width: 35rem;
        }
    }
    &__mealPlan{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        @include respond(tab-port) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__workoutPlan{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
}

.subContainer{
    &__landingPage{
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        padding: 7rem 0;
        align-items: center;
    }
    &__homePage{
        width: 100%;
        padding: 2rem 0;
        
    }
    &__mealPlan{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-port) {
            width: 45%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include respond(tab-land) {
            margin: 2rem 0;
        }
    }
    &__workoutPlan{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond(tab-port) {
            width: 100%;
            flex-direction: row;
        }
    }
}
.item{
    &__landingPage{
        margin: 2rem 4rem;
    }
    &__homePage{
        padding: 1rem 2rem;

    }
    &__mealPlan{
        width: 100%;
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
        }
    }
    &__workoutPlan{
        width: 100%;
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
        }
    }
}