//layout and positioning----------------------------------------------------
.mainContainer{
    margin: 2rem auto;
    width: 100%;
    display: grid;
    gap: 2rem 0;
    grid-template-columns: 1fr;
    grid-template-rows:  0.01fr 0.01fr 0.01fr  0.01fr;
    grid-template-areas:
      "subContainer__pageInput"
      "subContainer__caloriesRemain"
      "subContainer__randomQuotes"
      "subContainer__pageMenuBar"
      "subContainer__cards";

    @include respond(phone-l) { margin: 3rem 0; }
    @include respond(tab-port){
        width: 95%;
        margin: 3rem auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  0.01fr 0.01fr 0.01fr 0.01fr;
        grid-template-areas:
        "subContainer__pageInput subContainer__randomQuotes"
        "subContainer__caloriesRemain subContainer__randomQuotes"
        "subContainer__pageMenuBar subContainer__pageMenuBar"
        "subContainer__cards subContainer__cards";
    }
    @include respond(tab-land){gap: 3rem 0;}
    @include respond(desktop){margin: 4rem auto;width: 90%;}
}

.subContainer{

        width: 85%;
        justify-self: center;
        @include respond(tab-port){ width: 90%;}
        &__pageInput{
            grid-area: subContainer__pageInput;
        }
        &__caloriesRemain{
            grid-area: subContainer__caloriesRemain;
        }
        &__randomQuotes{
            grid-area: subContainer__randomQuotes;
            @include respond(phone-l) { height: 30rem; }
            @include respond(tab-port) { height: 95%; }
        }
        &__pageMenuBar{
            grid-area: subContainer__pageMenuBar;
            width: 85%;
            @include respond(tab-port) { width: 95%; }
        }
        &__cards{
            grid-area: subContainer__cards;
            @include respond(tab-port) { width: 100%; }
        }
}

.item{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__userInfo{
            
            padding: 2rem;
            &__heading{
                margin: 2rem 0;
            }
            &__text{
                width: 50%;
                margin-bottom: 1rem;
            }
            &__btn{
                display: flex;
                align-items: center;
            }
        }
        &__userGoal{
            padding: 2rem;
            &__heading{
                margin: 2rem 0;
            }
            &__text{
                width: 50%;
                margin-bottom: 1rem;
            }
            &__btn{
                display: flex;
                align-items: center;
            }
        }
        &__result{
            margin-bottom: 0;
            height: 25rem;
        }

}

//styles----------------------------------------------------------------

.item{

    border-radius: 4px;
    color: $black;
    background-size: cover;

    &__userInfo{
        background-image: linear-gradient(105deg,$makeupTan 0%, $lightlyOffWhite 50%, transparent 50%),
        url(../../../assets/userInfo.jpg);
    }
    &__userGoal{
        background-image: linear-gradient(105deg,$makeupTan 0%, $lightlyOffWhite 50%, transparent 50%),
        url(../../../assets/userGoal.jpg);
    }

    &__result{

    }

    &__icon{
        color: $dark-65;
        font-size: 4rem;
        font-weight: 100;
    }
}
