#root{
	//font-family: 'Commissioner', 'Noto Sans JP', sans-serif;
	font-family: 'Nanum Gothic', sans-serif;
}

.heading{

	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	text-transform: uppercase;
	&__l{
		font-size: $font-l;
	}
	&__m{
		font-size: $font-m;
	}
	&__s{
		font-size: $font-s;
		line-height: 120%;
	}
	&__light{
		color: $lightlyOffWhite;
	}
	&__dark{
		color: $black;
	}
}

.BG{
	&__yellowOrange{
		padding: 0.5rem;
		width: 65%;
		background-image: linear-gradient(90deg,$yellow1 0%, $yellow2 50%, $orange3 50%);
	}
	&__whiteOrange{
		//opacity: 0.8;
		padding: 0.5rem;
		width: 65%;
		background-image: linear-gradient(90deg,$white 0%, $white 50%, $orange3 50%);
	}
	&__orangeWhite{
		//opacity: 0.8;
		padding: 0.5rem;
		width: 65%;
		background-image: linear-gradient(90deg,$orange3 0%, $orange3 50%, $white 50%);
	}
	&__orangeYellow{
		padding: 0.5rem;
		width: 65%;
		background-image: linear-gradient(90deg,rgba($orange3,1) 0%, rgba($orange3,1) 50%, rgba($yellow1,1) 50%);
	}
}

.paragraph{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: $font-p;
	&--light{
		color: $lightlyOffWhite;
	}
	&--dark{
		color: $darkHighlight
	}
}


