#root{
	font-family: 'Nanum Gothic', sans-serif;
}

.heading{

	font-family: 'Nanum Gothic', sans-serif;
	text-transform: uppercase;
	&__l{
		font-size: $font-l;line-height: 130%;
	}
	&__m{
		font-size: $font-m;line-height: 125%;
	}
	&__s{
		font-size: $font-s;line-height: 120%;
	}

	&__text{
		display: inline-block;
		position: relative;
		z-index: 1;
		width: auto;
		&__underline{
			z-index: -1;
			height: 10px;
			width: 100%;
			padding: 0 0.5rem;
			position: absolute;
			top: 11px;
			background-image: linear-gradient(90deg,$white 0%, $white 50%, $orange 50%);
			@include respond(tab-port) {height: 12px;}
			@include respond(tab-land) {height: 13px;}
			@include respond(desktop) {height: 14px;}
		}
	}
}







