.u-font-l{font-size:$font-l;}
.u-font-btn-l{font-size:$font-btn-l!important;}
.u-font-btn-m{font-size:$font-btn-m !important;}
.u-font-btn-s{font-size:$font-btn-s !important;}
.u-color-white{color:$white;}
.u-color-black{color:$black;}
.u-bg-color-black{background-color: $black;}
.u-text-justify{text-align: justify;text-justify: inter-word;}
.u-p-1rem{padding: 1rem;}
.u-p-05rem{padding: 0.5rem;}
.u-m-left-small{margin-left: 0.5rem !important;}
