.u-center-text{text-align: center !important;}
.u-important-text{font-weight: bold; }
.u-uppercase {text-transform: uppercase;}
.u-text-justify{text-align: justify;}
.u-font-weight-bold{font-weight: 900;}

.u-m-top-big{margin-top:10rem !important;}
.u-m-top-medium{margin-top:7rem !important;}
.u-m-top-small{margin-top:4rem !important;}
.u-m-bottom-big{margin-bottom: 6rem !important;}
.u-m-bottom-medium{margin-bottom: 4rem !important;}
.u-m-bottom-small{margin-bottom: 1.1rem !important;}
.u-m-auto{margin: 0 auto;}

.u-m-left-big{margin-left: 10rem !important;}
.u-m-left-medium{margin-left: 5rem !important;}
.u-m-left-small{margin-left: 1rem !important;}

.u-m-right-big{margin-right: 20rem !important;}
.u-m-right-medium{margin-right: 10rem !important;}
.u-m-right-small{margin-right: 3rem !important;}
