//Color Palette
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$makeupTan: #DDAF94;
$blush: #E8CEBF;
$complimentaryGreen: #266150;
$darkHighlight: #4F4846;
$lightlyOffWhite: #FDF8F5;
$orange: #FD9A24;
$yellow: #FFE800;


//Font Sizes
$font-logo-icon: 1.5rem;
$font-default: 1.2rem;
$font-l: 4rem;
$font-m: 2rem;
$font-s: 1.5rem;
$font-x-s-btn:1.2rem;
$font-x-s-text:1rem;

//Animation Time
$time-container: 2s;