.subContainer__homePage{
    background-color: $blush;
    color: $black;
    border-radius: 4px;
    &:hover{
        outline: 2px solid $blush;
        outline-offset: 10px;
    }
}
.item__homePage{

    &__icon{
        color: $dark-65;
        font-size: 4rem;
        font-weight: 100;
    }
}

