.landingPage__background{
    overflow: hidden;
    width: 100%;
    height: 100%;
    &--content{
        object-fit: cover;
    }
}
.subContainer__landingPage{
    height: 100%;
    background-color: rgba($black,0.4);
}
