.mainContainer__mealPlan{
    background-color: $lightlyOffWhite;
}
.subContainer__mealPlan{

}
.suggestedPlan__container{
    display: flex;
    flex-direction: column;
}

.item__mealPlan{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
