.btn{
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  cursor: pointer;
  border-radius: 4px;

    &:active , 
    &:focus{
      transform: translateY(3px);
    }

    &:hover{
      transform: translateY(-3px);
    }

    &--transparent{//btn landing page
      background-color: transparent;
      color: $white;
      border: $white 1px solid;
      animation: moveInBottom 2s ease-in-out;  
      
      &:hover{
        transform: translateY(-3px);
        color: $black;
        background-color: $lightlyOffWhite;
      }

      &--green{
        border-radius: 0;
        color: $complimentaryGreen;
        border-bottom: $complimentaryGreen 1px solid;
        &:hover{
          background-color: $black;
          color: $white;
        }
      }
    }

    &--green{//btn homepage
      font-weight: 300;
      background-color: $complimentaryGreen;
      color: $white;
    }

    &--blush{
      color:$black;
      margin: 0 0;
      padding: 0.3rem;
      border-radius: 0;
      background-color: $blush;
      border-bottom: $darkHighlight 2px solid;
      
      &:hover{
        color: $lightlyOffWhite;
        background-color: $black;
        border-bottom: none;
      }
    }

    &--black{
      color: $white;
      background-color: $black;
      padding: 0.5rem;
      border-radius: 0;
      margin: 0 0;
        font-size: $font-x-s-btn;
        &::before{
          content:"+ "
        }
      &--s{
        border-radius: 4px;padding: 0.3rem 0.5rem; margin: 1rem 0;
      }
    

      &:hover{
        background-color: $white;
        color: $black;
        border: $black 1px solid;
      }

    }
}
