.checkBoxFilter{

    &__container{
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__heading{
        flex: 1 1 100%;
    }
    &__list{
        flex: 1 1 100%;
        margin: 1rem 0;
    }
    &__item{
        font-size: $font-default;
        &__input{
            margin-right: 0.8rem;
        }
        &__label{

        }
    }
}