.diary{
    &__container{
        border-radius: 5px;
        background-color: $black ;
        border: $darkHighlight 2px solid;
        color: $lightlyOffWhite;
    
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1.5rem 1rem;
    }

    &__item{
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: $font-p;
        text-transform: uppercase;
    }
}
