.diary{
    &__container{
        border-radius: 4px;
        background-color: $blush ;
        color: $darkHighlight;
    
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
    }

    &__item{
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: $font-p;
        text-transform: uppercase;
        cursor: pointer;
    }
}
