.menu{
    background-color: $secondary;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    &-heading{
        flex: 1 1 92%;
    }
    &-burger{
        flex: 1 1 8%;
        display: flex;
        flex-direction: column;
        &__line{
            background-color: $black;
            width: 100%;
            height: 2px;
            margin-top: 0.5rem;
            &_2{margin-top: 3px;}
            &_3{margin-top: 8px;}
        }
    }
}

.header{
    background-color: $secondary;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    :focus, :active{
        color: $black;
        background-color: transparent;
    }
    &-link{
    color: $dark-65;
    font-size: $font-icon-header;
    padding: 1rem;
    animation: moveInLeft .5s ease-out;
    }

}
