.inputForm{
    border-radius: 4px;
    background-color: $blush;
    padding-top: 4rem;
    padding-bottom: 0;
    width: 27rem;
    @include respond(phone-l) {width: 30rem;}
    &__field{
       font-size: $font-s;
       display: flex;
       margin-bottom: 1rem;
       justify-content: center;
    }
    &__status{
        width: 90%;
        margin-top: 1rem;
        border-radius: 4px;
        background-color: $darkHighlight;
        padding: 1rem;
        color: $white;
    }
    &__label{
        width: 6rem;

    }
    &__select{
        background-color: $white;
        color: $black;
        border-radius: 3px;
        border: $darkHighlight 1px solid;

        &-l{width: 17rem;}
        &-m{width: 70%;}
        &-s{width: 8rem;}

    }
    &__input{
        width: 8rem;
        margin-right: 1rem;
        color: $darkHighlight;
        border-radius: 3px;
        border: $darkHighlight 1px solid;
        text-align: center;
    }
}
