//Navigation Page
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 100;
    &__group{
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 10rem;
        @include respond(phone-l) {padding-top: 15rem;}
        @include respond(tab-port) {padding-top: 18;}
        @include respond(tab-land) {padding-top: 21;}
        @include respond(desktop) {padding-top: 22;}
        left: 0;
        top: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link{
        text-align: center;
        text-decoration: none;
        color: $white;
        width: 30rem;
        font-size: 2rem;
        font-weight: 300;
        z-index: 100;
        margin: 2rem 0;
        &:link,
        &:visited {
            display: inline-block;
            padding: 1rem 2rem;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $black;
            transform: translateX(1rem);
        }
    }
    &__background{
        overflow: hidden;
        width: 100%;
        height: 100%;
        &--content{
            object-fit: cover;
        }
    }
}

