//Navigation Page
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 100;

    &__group{
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 15%;
        left: 0;
        top: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($black,0.6);
        @include respond(tab-port) {padding-top: 12%;}
        @include respond(desktop) {padding-top: 10%;}
    }
    &__heading{
        text-align: center;
        &--text{
            font-family: 'Abril Fatface', cursive;
            font-weight: 400;
            letter-spacing: 2px;
            padding: 0 0.5rem;
            display: inline-block;
            background-image: linear-gradient(90deg,$white 0%, $white 58%, $orange 50%);
        }
        margin-bottom: 3rem;
    }

    &__option{
        font-size: 2rem;
        color: $white;
        width: 22rem;
        margin: 0.5rem 0;
        line-height: 130%;
        text-align: center;
        @include respond(phone-l) { margin: 1rem 0; width: 25rem;}
        @include respond(desktop) {width: 32rem;}
    }
    &__btn{
        margin-top: 2rem;
    }
    &__link{

        text-decoration: none;
        color: $white;
        width: 25rem;
        font-size: 2rem;
        font-weight: 300;
        z-index: 100;
        margin: 1.5rem 0;
        &,&:link,
        &:visited {
            display: inline-block;
            padding: 1rem 2rem;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $black;
            transform: translateX(1rem);
        }
    }
    &__background{

        &--content{

        }
    }
}

