.pageMenuBar{
    width: 100%;
    border-radius: 4px;
    display: flex;
    background-color: $blush;
    :hover, :focus, :active{
        color: $black;
        background-color: transparent;
    }
    &__link{
    color: $dark-85;
    font-size: $font-icon-header;
    padding: 1rem;
    align-items: center;
    }

}