.pageMenuBar{
    width: 95%;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    background-color: $blush;
    :hover, :focus, :active{
        color: $black;
        background-color: transparent;
    }
    @include respond(tab-port) {
        width: 98%;
    }
    &__link{
    color: $dark-85;
    font-size: $font-icon-header;
    padding: 1rem;
    }

}