.popUpCardWorkout{

    &__container{
        background-color: $white;
        width: 90%;        
        height: auto;        
        border-radius: 4px;
        display: flex;
        @include respond(tab-port) {width: 80%;}
        @include respond(tab-land) {width: 70%;}
        @include respond(desktop) {width: 60%;}
    }
    &__header{//Top Left Menu
        width: 100%;
        display: flex;
        align-items: center;
        &__left{
            flex: 0 0 50%;
            display: flex; 
            margin-left: 1.5rem;
        }
        &__right{
            flex: 0 0 45%;
            font-size: 2rem;
            display: flex;
            justify-content: flex-end;
            margin-right: 1.5rem;
        }
    }
    &__content{//The rest 
        width: 100%;
        display: grid;

            grid-template-columns: 1fr;
            grid-template-rows:  0.1fr 0.1fr 0.01fr  0.1fr;
            gap: 2rem 0;
            grid-template-areas:
              "popUpCardWorkout__content__main"
              "popUpCardWorkout__content__video"
              "popUpCardWorkout__content__info"
              "popUpCardWorkout__content__tag";
            
              @include respond(tab-land) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows:  0.1fr 0.1fr 0.01fr  0.1fr;
                gap: 2rem 0;
                grid-template-areas:
                "popUpCardWorkout__content__video popUpCardWorkout__content__main"
                "popUpCardWorkout__content__video popUpCardWorkout__content__info"
                "popUpCardWorkout__content__video popUpCardWorkout__content__tag";
              }

        &__main{

            grid-area: popUpCardWorkout__content__main;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1rem;
            &__heading{
                width: 90%;
                padding: 0.5rem;
                background-image: linear-gradient(90deg,rgba($orange3,1) 0%, rgba($orange3,1) 50%, rgba($yellow1,1) 50%);
                border-radius: 3px;
                line-height: 130%;
            }
        }
        &__video{
            grid-area: popUpCardWorkout__content__video ;
            display: flex; 
            justify-content: center;

            &--content{

            }
        }

        &__info{
            
            grid-area: popUpCardWorkout__content__info;
            width: 90%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            border-top: $darkHighlight 1px dashed;
            font-size: $font-p;
            padding-top: 1rem;
            &__item{
                margin-right: 0.5rem;
                &--item{
                    text-transform: capitalize;
                }
            }
        }

        &__tag{

            grid-area: popUpCardWorkout__content__tag;
            width: 90%;
            border-bottom: $darkHighlight 1px dashed;
            padding-bottom: 1rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            &--item{
                display: inline-block;
                border-radius: 3px;
                font-size: 1.2rem;
                color: $white;
                background-color: $complimentaryGreen;
                padding: 3px 4px;
                margin: 3px 3px;
                text-transform: capitalize;

            }
        }
    }

}