.popUpCardRecipe{

    &__container{

        background-color: $white;
        width: 95%;
        height: 80%;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        @include respond(phone-l) {width: 90%;}
        @include respond(phone-l) {width: 80%;}

    }
    &__header{//Top Left Menu
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        &__left{
            flex: 0 0 50%;
            display: flex; 
            margin-left: 1.5rem;
        }
        &__right{
            flex: 0 0 45%;
            font-size: 2rem;
            display: flex;
            justify-content: flex-end;
            margin-right: 1.5rem;
        }
    }
    &__content{//The rest 
        display: grid;

            grid-template-columns: 1fr;
            grid-template-rows:  0.1fr 0.01fr 0.01fr 0.001fr 0.01fr 0.01fr 0.0001fr;
            gap: 1rem 0;
            grid-template-areas:
              "popUpCardRecipe__content__image"
              "popUpCardRecipe__content__heading"
              "popUpCardRecipe__content__info"
              "popUpCardRecipe__content__tag"
              "popUpCardRecipe__content__addToMeal"
              "popUpCardRecipe__content__ingred";
            
            @include respond(phone-l) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows:  0.01fr 0.1fr 0.01fr 0.01fr 0.01fr;
                grid-template-areas:
                "popUpCardRecipe__content__image popUpCardRecipe__content__heading"
                "popUpCardRecipe__content__image popUpCardRecipe__content__addToMeal"
                "popUpCardRecipe__content__info popUpCardRecipe__content__info"
                "popUpCardRecipe__content__tag popUpCardRecipe__content__tag"
                "popUpCardRecipe__content__ingred popUpCardRecipe__content__ingred";
            }

        &__image{
            grid-area: popUpCardRecipe__content__image ;
            display: flex;
            justify-content: center;
            &--content{
                width: 90%;
                
                border-radius: 5px;
                overflow: hidden;
            }
        }

        &__heading{
            grid-area: popUpCardRecipe__content__heading;
            line-height: 130%;
            @include respond(phone-l) {margin: 1rem 0; text-align: start; margin-left: 1rem;}    
        }
        &__info{
            grid-area: popUpCardRecipe__content__info;
            margin: 0 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-size: $font-p;
            border-top: $darkHighlight 1px dashed;
            padding-top: 1rem;

            @include respond(phone-l) {border: none;}

                &__item{
                    width: 33.33%;
                }
            }

        &__addToMeal{
            grid-area: popUpCardRecipe__content__addToMeal;
            margin: 0 1rem;
            padding-top: 1rem 0;
        }

        &__tag{

            grid-area: popUpCardRecipe__content__tag;
            margin: 0 1rem;
            color: $darkHighlight;

            &--item{
                display: inline-block;
                border-radius: 3px;
                font-size: 1.2rem;
                color: $white;
                background-color: $complimentaryGreen;
                padding: 3px 4px;
                margin: 3px 3px;
                text-transform: capitalize;
                @include respond(tab-port) {font-size: 1.4rem;}
            }
        }
        &__ingred{
            grid-area: popUpCardRecipe__content__ingred;
            border-radius: 4px;
            @include respond(phone-l){width: 100%;}
            @include respond(desktop) {font-size: 1.4rem;}
            &__heading{
                color: $darkHighlight;
                margin: 1rem 2rem;
                @include respond(phone-l){margin: 0 1rem;}
            }
        }
    }

}