.randomQuoteCard{

    &__container{
        background-color: $makeupTan;
        border-radius: 4px;
        padding: 2rem;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        &__food{
            animation: displayFood 20s infinite ease-in-out;
        }
        &__home{
            animation: displayHome 20s infinite ease-in-out;
        }
        &__workout{
            animation: displayWorkout 20s infinite ease-in-out;
        }

        @include respond(phone-l) {
            height: 100%;
        }

    }

    &__content{
        margin-top: 2rem;
        width: 80%;

            @include respond(tab-port) {
                margin-top: 0;
                width: 80%;
                margin-bottom: 1rem;
            }
            @include respond(tab-land) {
                margin-top: 1rem;
                width: 80%;
                margin-bottom: 1rem;
            }
            @include respond(desktop) {
                margin-bottom: 2rem;
            }
        &__quote{
            font-family: inherit;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            text-align: center;
            background-color: rgba($white,0.5);
            padding: 0.5rem;
            @include respond(phone-l) {
                margin-bottom: 2rem;
            }
            @include respond(tab-port) {
                margin-bottom: 0;
            }
            @include respond(desktop) {
                line-height: 120%;
                margin-bottom: 1rem;
            }
        }
        &__author{
            padding: 0.2rem;
            display: inline-block;
            margin-top: 1rem;
            font-size: 1.3rem;
            font-family: inherit;
            font-style: italic;
            background-color: rgba($white,0.5);
        }
    }
}
