.renderArticleCardList{
    &__container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    }

    &__heading{
        width: 100%;
        display: flex;
        justify-content: start;
        margin: 1rem;
        @include respond(tab-port) {
            margin-left: 2rem;
            margin-top: 3rem;
        }
        &--text{
            margin: 1rem;
        }
    }
    
}