.renderItemCardList__container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    @include respond(tab-port) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
