.renderListInDiary{

    &__container{
        margin: 0 1rem;
    }
    &__item{
        display: flex;
        padding: 0.1rem;
        &__text{
        margin: 0 1rem;
        &::before{
            content: "- ";
            height: 100%;
            width: 3px;
        }
        }
    }
}
