.renderArticleCardList{
    
    &__container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    }

    &__heading{
        width: 100%;
        display: flex;
        &--text{
            text-align: center;
            @include respond(tab-port){margin-left: 2.5rem;}
        }
    }
    
}