.renderDailyCarlorieNeed{

    &__container{

        border-radius: 4px;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        color: $darkHighlight;
        font-size: $font-p;
        background-image: linear-gradient(105deg,$makeupTan 0%, $lightlyOffWhite 50%, transparent 50%),
        url(../../../assets/result.jpeg);
        background-size: cover;
        

    }
    &__subcontainer{
        text-align: center;
        margin: 0.5rem 0;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }

    &__topic{
        &:hover{
            transform: scale(1.1);
        }
    }
    &__text{
        display: inline-block;
        font-size: $font-m;
        font-weight: 800;
        margin: 1rem 0;
        position: relative;
        z-index: 1;
        &--underline{
            z-index: -1;
            position: absolute;
            top: 12px; left: 0;
            width: 100%; height: 10px;
            background-color: rgba($lightlyOffWhite,1);
        }
    }

}
