.renderMealOptionList{

    &__container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 4px;
        border: $darkHighlight 1px dashed;
        padding-left: 1rem;
    }
    &__heading{
        width: 22%;
        color: $darkHighlight;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text{
            font-size: $font-p;
        }
        &__icon{
            font-size: 2rem !important;
            animation: moveInLeft 2s infinite ease-in;
        }
    }

    &__item__container{
        width: 78%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item{
        display: inline-block;
        font-size: $font-p;
        margin-left: 0.5rem;
    }

}