.renderRecipeIngredientList{

    &__container{
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 2rem;
        justify-content: space-between;
        
    }
    &__item{
        flex: 0 0 100%;
        margin-top: 0.5rem;
        display: flex;

        :hover{
            transform: scale(1.1);
        }

        &__image{
            width: 8rem;
            border-radius: 5px;
        }
        &__text{
            width: 70%;
            font-size: $font-p;
            color: $darkHighlight;
            align-self: center;
            padding: 0 1.5rem;
        }
    }
}


  