.renderPlanCardList{

    &__container{
        
    text-decoration: none;
    color: $black;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightlyOffWhite;

    }
    &__heading{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__group{
        width: 100%;
        margin: 1rem 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}
