.renderCaloriesRemain{
    
    &__container{
    width: 100%;

    border-radius: 4px;
    color: $darkHighlight;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: $blush;
    justify-content: space-evenly;
    
    @include respond(tab-port){justify-content: space-between;}
    @include respond(tab-land){justify-content: space-evenly;}
}

    &__heading{
        flex: 0 0 100%;
    }

    &__item{
        flex: 0 0 22%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        font-size: $font-default;
        
        @include respond(tab-port){flex-direction: row; flex: 0 0 40%;}
        @include respond(tab-land){flex-direction: column; flex: 0 0 22%;}

        &__name{
            margin-bottom: 1rem;
        }

        &__text{
            margin-left: 0.8rem;
            &:hover{
                transform: scale(1.3);
            }          
        }
    }
}
