.searchRecipe{
    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        }
        &__ingredientSearch{
            width: 100%;
            @include respond(tab-port) {width: 40%;}
        }
        &__checkBoxFilter{
            width: 45%;
            @include respond(tab-port) {width: 30%;}
        }
        &__clickSearch{
            width: 45%;
            @include respond(tab-port) {width: 20%;}
            display: flex;
            align-items: center;
            
            &__btn{
                margin: 0 auto;
                width: 7rem;
                border: none;
                border-radius: 4px;
                padding: 1rem;
                margin-bottom: 2rem;
                display: flex;

                &__icon{
                    color: $orange;
                    -webkit-text-stroke: 1px $black;
                    flex: 0 0 50%;
                    font-size: 3rem !important ;
                    font-weight: 400 !important;
                    animation: moveInRight 3s infinite ease-in;
                }
            }
        }
        &__renderItemCardList{
            flex: 1 100%;

        }
}
