.userAddItemForm {

    &__container{
        padding-top: 0.5rem;
        width: 95%;
        margin: 1rem 1rem;
        background-color: $orange;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    &__result{

        background-color: $orange;
        margin: 0rem 1rem;
        color: $black;
        padding-bottom: 0.5rem;
        border-radius: 4px;
    }

}

