.userAddItemForm {

    &__container{
        padding-top: 0.5rem;
        width: 95%;
        margin: 1rem 1rem;
        background-color: $orange3;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }
    &__result{
        background-color: $orange3;
        color: $black;
        padding-bottom: 0.5rem;
        border-radius: 4px;
    }

}

